body{
  background-color: #9DBF9E;
  margin: auto;
  margin-left: 20px;
  padding-bottom: 35px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
h1 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  text-decoration-color: #9DBF9E;

}

p {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 70px;
  margin-left: 70px;
}
button{
  background-color: lightgray;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 5px;
  height: 50px;
  font-size: large;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 500px;
}