body {
  background-color: #9dbf9e;
  margin: center;
  margin-left: 20px;
}
a {
  margin-left: 100px;
  color: red;
}

h1 {
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
}

a:link,
a:visited {
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  color: #9dbf9e;
}

a:hover,
a:active {
  color: #add8e6;
}
p button {
  padding: 1vw;
  background-color: white;
  color: #9dbf9e;
  margin: auto;
  text-align: center;
}

/*start of code from https://codepen.io/bramus/pen/XWWbGYO****************************/
/* limit width so that content will need to scroll */
main {
  max-width: 50em;
  text-align: center;
}

/* SCROLL SNAPPING */
.scroll-container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.scroll-item {
  scroll-snap-align: center;
}
/* NOT NEEDED- WANT ALL BOXES TO BE THE SAME WIDTH *******************************
/* make 3rd item bigger to show that items don't need to have the same width
scroll-item:nth-child(3) {
  width: 15em;
}
/* make 5th item bigger to show that items don't need to have the same width
.scroll-item:nth-child(5) {
  height: 15em;
} */

/* FLEXBOX LAYOUT */
.scroll-container[data-layoutmethod="flexbox"] {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.scroll-container[data-layoutmethod="flexbox"] .scroll-item {
  margin-right: 1em; /* fake gap */
  flex: 0 0 auto;
  width: 30em; /* controls the width of the boxes */
  height: 20em; /* controls the height of the boxes */
}

img {
  width: 30em;
  height: 20em;
}

/** OTHER STYLES **/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

/* center main element */
main {
  margin: 0 auto;
  padding: 5em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-content: center;
}

/* remove list styles */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.scroll-item {
  /* make it square */
  width: 10em;
  height: 10em;
  border: 1px solid rgba(0, 0, 0, 0.1);

  /* center contents */
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* end of code from https://codepen.io/bramus/pen/XWWbGYO******************************************/
